<td><a href="#/<%= id %>/edit"><%= name %></a></td>
<td><a href="#/<%= id %>/edit"><%= start %></a></td>
<td><a href="#/<%= id %>/edit"><%= end %></a></td>
<td><a href="#/<%= id %>/edit"><%= countries.length %></a></td>

<!-- <td><a href="#/<%= id %>" class="btn">Show</td> -->
<!-- <td><a href="#/<%= id %>/edit" class="btn">Edit</td> -->
<td><a href="#/<%= id %>/destroy" class="btn destroy btn-danger">Destroy</a></td>