<h1>Listing campaigns</h1>

<table id="campaigns-table" class="table">
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Countries</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-primary">New Campaign</a>