<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Start:</b>
  <%= start %>
</p>

<p>
  <b>End:</b>
  <%= end %>
</p>

<p>
  <b>Countries:</b>
  <%= countries.length %>
</p>



<a href="#/index">Back</a>